{% load quiz_extras %}
{% load crispy_forms_filters %}

{% block questions_block %}

     <form method="post" action="">
        {% csrf_token %}
        {% for question, answers, right_answer, scores in pair %}
            <div class="container mt-5">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-10 col-lg-10">
                        <div class="border">
                            <div class="question bg-white p-3 border-bottom">
                                <div class="d-flex flex-row align-items-center question-title">
                                    <h3 class="text-danger">Q.</h3>
                                    <h5 class="mt-1 ml-2"> {{ question.title }} </h5>
                                </div>

                                {{ answers.as_p }}
                            </div>

{#                            <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">#}
{#                                <input class="btn btn-primary align-items-center" type="submit" id="submitValue"#}
{#                                   onclick="colnames()" name="kek1" value="Отправить ответ" />#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>

{#                {{ question }}#}
{#                {{ answers }}#}
        {% endfor %}
     <input type="submit" value="Submit Comment" />
    </form>
{% endblock %}