{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<div>
    <div class="d-flex justify-content-center flex-nowrap">
        <form method="POST" id="form-container">
            {% csrf_token %}
            {{ quiz|crispy }}
            <br>

            {{ questions_formset.management_form }}
            {{ answers_formset.management_form }}

            <center> <h3> Добавление вопросов </h3> </center>

            {% for question in questions_formset %}
                <hr class="mt-2 mb-3"/>

                <div class="question-form">
                    {{ question.as_p }}

                    <h5> ------- </h5>

                    <div class="answer-form">
                        {% for answer in answers_formset %}
                            {{ answer.as_p }}
                        {% endfor %}
                    </div>

                    <button id="add-form-question" type="button" class="btn btn-secondary"> Новый ответ </button>

                </div>

                <hr class="mt-2 mb-3"/>
            {% endfor %}

            <button id="add-form" type="button" class="btn btn-secondary"> Добавить ещё один вопрос </button>

            <br><br>
            <div class="d-flex justify-content-center flex-nowrap">
                <button class="btn btn-primary" type="submit"> Отправить </button>
            </div>
        </form>

        <script>
            let questionForm = document.querySelectorAll(".question-form")
            let answerForm = document.querySelectorAll(".answer-form")

            let addButton = document.querySelector("#add-form")
            let addButtonAnswer = document.querySelector("#add-form-question")

            let formNum = questionForm.length-1
            let formNumAnswer = answerForm.length-1

            let container = document.querySelector("#form-container")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

            addButton.addEventListener('click', addForm)
            addButtonAnswer.addEventListener('click', addFormAnswer)

            function addForm(e){
                e.preventDefault()

                let newForm = questionForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum+1}`)
            }

            function addFormAnswer(e){
                e.preventDefault()

                let newForm = answerForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')

                formNumAnswer++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum+1}`)
            }
        </script>
    </div>
</div>

{% endblock %}