{% extends "base.html" %}
{% load quiz_extras %}

{% block content %}
    <br><br><br>
    <div class="container d-flex justify-content-center flex-nowrap">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">{{ quiz.title }}</h5>
                <p class="card-text"> {{ quiz.description|default:"Без описания" }} </p>

                <a href="{% url 'quiz-update' quiz.id %}" class="btn btn-warning"> Редактировать </a>
                <a href="{% url 'quiz-delete' quiz.id %}" class="btn btn-danger"> Удалить </a>

            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Создан: {{ quiz.created }}</li>
                    <li class="list-group-item">Обновлён: {{ quiz.updated }}</li>
                </ul>
        </div>
    </div>

    <br><br><br>

    {% include 'quiz/_questions.html' %}
{% endblock %}