{% extends "base.html" %}
{% load quiz_extras %}

{% block content %}
    <br><br><br>
    {% for quiz in object_list %}
    <div class="container d-flex justify-content-center flex-nowrap">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">{{ quiz.title }}</h5>
                <p class="card-text"> {{ quiz.description|default:"Без описания" }} </p>
                <a href="{{ var|get_href:quiz }}" class="btn btn-primary"> Перейти </a>


            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Создан: {{ quiz.created }}</li>
                    <li class="list-group-item">Обновлён: {{ quiz.updated }}</li>
                </ul>
        </div>
    </div>

    <br><br><br>
    {% endfor %}
{% endblock %}