<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Смолтесты</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <h1>
    <a href="/"> Смоллтесты неВконтакте </a>
    </h1>
    <hr>

    <div id="content">
        {% block content %}
            <div class="container d-flex justify-content-center flex-nowrap">
                <div class="btn-group-vertical">
                    {% for button in buttons %}
                        <a href={% url button.href %} class="btn btn-outline-primary btn-lg" role="button">
                            {{ button.title}}
                        </a>
                    {% endfor %}
                </div>
            </div>

        {% endblock %}
    </div>
</body>
</html>