{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<div>
    <div class="d-flex justify-content-center flex-nowrap">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <div class="d-flex justify-content-center flex-nowrap">
                <input class="btn btn-primary" type="submit" value="Отправить" />
            </div>
        </form>
    </div>
</div>

{% endblock %}